.App {
  text-align: center;
}

.welcome-sign{
  box-shadow: black 2px 2px;
  border-radius: 10px;
  border: white solid 5px;
  width: 75%;
  max-width: 300px;
}

.bg-sign-green{
  background-color: #308446;
}

.landing-page{
  z-index: 1;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

/* Character Creation Styling */

.character-creation-container{
  width: 90%;
}

/* Neighbor Styling */

.max-height-100{
  max-height: 100px;
}

.max-height-200{
  max-height: 200px;
}

.neighbor-face{
  height: 80%;
  width: 80%;
}

/* Positioning */

.center{
  margin-left: auto;
  margin-right: auto;
}

.margin-5{
  margin: 5px;
}

.margin-bot-20{
  margin-bottom: 20px;
}

/* Flex */

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.col{
  flex-direction: column;
}

/* Background Colors */
.bg-bisque{
  background-color: bisque;
}

.bg-white{
  background-color: white;
}

.bg-town{
  background-image: url("./components/townbackdrop.jpg");
  background-size: cover;
}

/* Typography */

.text-center{
  text-align: center;
}

.text-white{
  color: white;
}

.text-small{
  font-size: small;
}